# OS
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/
*.user
*.pro.user*
*.creator.*
*.kdev4
*~
.#*
\#*\#
*.swp
*.swo

# CMake/builds
/build*/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/Makefile
Testing/

# Generated (protobuf)
*.pb.*
**/generated/
**/build/

# Binaries & artifacts
bin/
lib/
obj/
dist/
*.log

# Archives
Archive/
*.tar
*.tar.gz
*.tgz
*.zip

# My stuff
*.save